<form [formGroup]="feedForm" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" [errorStateMatcher]="errorMatcher">
        <mat-error  *ngIf="feedForm.get('name').errors?.required">
            Le nom est obligatoire
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Url</mat-label>
        <input
            matInput
            placeholder="ex : http://www.jeuxvideo.com/rss/rss-news.xml"
            formControlName="url"
            [errorStateMatcher]="errorMatcher"
        >
        <mat-error  *ngIf="feedForm.get('url').errors?.required">
            L'url est obligatoire
        </mat-error>
        <mat-error *ngIf="feedForm.get('url').errors?.pattern">
            L'url n'est pas <strong>valide</strong>
        </mat-error>

        <mat-error *ngIf="isLoginToken()">
            L'url n'est pas de type <strong>Flux Rss</strong>
        </mat-error>
    </mat-form-field>
    <mat-spinner *ngIf="loadingSubmit" diameter="30"></mat-spinner>
    <button
    *ngIf="!loadingSubmit"
        mat-raised-button
        color="accent"
        (click)="submit()"
        [disabled]="feedForm.get('url').invalid"
    >
        AJOUTER FEED
    </button>
  </form>
