<h1 class="title_Main">Vos Utilisateurs</h1>
<div class="wrapper">
    <div class="mat-elevation-z8 block_table">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef> Identité </th>
            <td mat-cell *matCellDef="let element"> {{element.lastname}} {{ element.firstname }} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{ element.role }} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Supprimer </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button class="button_x" color="warn" (click)="deleteUser(element.uid)">X</button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <app-user-create></app-user-create>
</div>
  