@import '../../../../styles/global/title';
@import '../../../../styles/global/button';

.wrapper {
    display: flex;
    width: 100%;
    .block_table {
        width: 60%;
        margin: 10px;
        table {
            width: 100%;
        }
    }
    app-user-create {
        width: 40%;
    }
}