<mat-toolbar color="primary">
    <span><a routerLink="/">WINNR-FEED</a></span>
    <ul>      
        <li>
            <a mat-button routerLink="/feeds" routerLinkActive="mat-accent">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                Accueil
            </a>
        </li>
        <li *ngIf="isAuthenticated">
            <a mat-button routerLink="/feeds/user" routerLinkActive="mat-accent">
                <mat-icon aria-hidden="false" aria-label="Example home icon">poll</mat-icon>
                Mes Flux
            </a>
        </li>
        <li *ngIf="isAuthenticated && isAdmin">
            <a mat-button routerLink="/users" routerLinkActive="mat-accent">
                <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
                Utilisateurs
            </a>
        </li>
    </ul>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="!isAuthenticated">
            <a mat-button routerLink="/auth/signin" routerLinkActive="mat-accent">
                <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
                Connexion
            </a>
        </li>
        <li *ngIf="isAuthenticated">
            <a mat-button href="#" (click)="logout()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">whatshot</mat-icon>
                Deconnexion
            </a>
        </li>
    </ul>
</mat-toolbar>

