<mat-toolbar color="primary">
    <span id="title-app"><a routerLink="/">WINNR-FEED</a></span>
    <div class="uploader-status">
      <mat-spinner *ngIf="isLoadingAuth" diameter="30"></mat-spinner>
    </div>
    <ul *ngIf="!isLoadingAuth" fxHide.xs>
        <li>
            <a mat-button routerLink="/feeds" routerLinkActive="mat-accent" [ngClass]="{'focus': (path == '/feeds')}">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                Accueil
            </a>
        </li>
        <li *ngIf="isAuthenticated">
            <a mat-button routerLink="/feeds/user" routerLinkActive="mat-accent" [ngClass]="{'focus': (path == '/feeds/user')}">
                <mat-icon aria-hidden="false" aria-label="Example home icon">poll</mat-icon>
                Mes Flux
            </a>
        </li>
        <li *ngIf="isAuthenticated && isAdmin">
            <a mat-button routerLink="/users" routerLinkActive="mat-accent" [ngClass]="{'focus': (path == '/users')}">
                <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
                Utilisateurs
            </a>
        </li>
    </ul>
    <span class="spacer"></span>
    <ul *ngIf="!isLoadingAuth" fxHide.xs>
        <li *ngIf="!isAuthenticated">
            <a mat-button routerLink="/auth/signin" routerLinkActive="mat-accent">
                <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
                Connexion
            </a>
        </li>
        <li *ngIf="isAuthenticated">
            <a mat-button href="#" (click)="logout()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">whatshot</mat-icon>
                Deconnexion
            </a>
        </li>
    </ul>

    <button *ngIf="!isLoadingAuth" fxHide.sm fxHide.md fxHide.xl fxHide.lg mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu  #menu="matMenu">
      <button routerLink="/feeds" mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        Accueil
      </button>
      <button *ngIf="isAuthenticated" routerLink="/feeds/user" mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon">poll</mat-icon>
        Mes Flux
      </button>
      <button *ngIf="isAuthenticated && isAdmin" routerLink="/users" mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon>
        Utilisateurs
      </button>
      <mat-divider></mat-divider>
      <button *ngIf="!isAuthenticated" routerLink="/auth/signin" mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
        Connexion
      </button>
      <button *ngIf="isAuthenticated" (click)="logout()" mat-menu-item>
        <mat-icon aria-hidden="false" aria-label="Example home icon">whatshot</mat-icon>
        Deconnexion
      </button>
    </mat-menu>
</mat-toolbar>

